* {
  margin: 0;
  padding: 0;
  font-family: "JF", Courier, monospace;
}

*a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
}

@font-face {
  font-family: "JF";
  src: url("../pic/JF\ Open\ 粉圓\ 11.ttf");
}

$maincloor: #f0a739;
$maindarkcolor: #f6822e;
$minorcolor: #8cad2d;
$bgcolor: #f1ecd3;

//index

header {
  width: 100%;
  height: 88px;
  background-color: $maincloor;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 10;

  nav {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    align-items: center;
    height: 88px;
    position: relative;

    .logo {
      width: 138px;
      height: 138px;
      position: absolute;
      top: 0;
      left: 20px;

      img {
        vertical-align: top;
        width: 100%;
      }
    }

    span {
      font-size: 28px;
      font-weight: 500;
      position: absolute;
      top: 30px;
      left: 166px;
      color: #000;
    }

    .nav_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      position: absolute;
      right: 40px;

      a {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: #000;
      }
    }
  }
}

main.index {
  background-color: $bgcolor;
  overflow: hidden;
  section.welcome {
    display: flex;
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    justify-items: center;

    .right_pic {
      position: absolute;
      width: 60%;
      //   height: 700px;
      right: 0px;
      top: 0px;
      z-index: 1;
      img {
        width: 1200px;
        height: 700px;
      }
    }

    .linear_box {
      position: absolute;
      width: 65%;
      height: 166px;
      right: 0px;
      top: 534px;
      z-index: 5;
      background: linear-gradient(
        180deg,
        rgba(241, 236, 211, 0) 0%,
        rgba(241, 236, 211, 0.578125) 38.02%,
        rgba(241, 236, 211, 0.743773) 59.9%,
        rgba(241, 236, 211, 0.878906) 79.69%,
        #f1ecd3 100%
      );
    }

    .left_pic {
      position: absolute;
      width: 70%;
      height: 700px;
      left: -200px;
      top: 0px;
      z-index: 2;
    }

    .sun_pic {
      position: absolute;
      //   width: 106px;
      //   height: 110px;
      left: 110px;
      top: 36px;
      z-index: 2;

      img {
        width: 106px;
        height: 110px;
      }
    }

    p {
      font-size: 22px;
      font-weight: 400;
      z-index: 3;
      position: absolute;
      left: 140px;
      top: 120px;
    }

    a {
      z-index: 3;
      position: absolute;
      width: 200px;
      height: 52px;
      left: 140px;
      top: 188px;
      background: $minorcolor;
      border-radius: 50px;
      text-align: center;
      line-height: 52px;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
    }
  }

  section.about {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;

    h1 {
      font-weight: 700;
      font-size: 50px;
    }

    h2 {
      font-weight: 700;
      font-size: 23px;
      color: $minorcolor;
      margin-top: 12px;
      margin-bottom: 56px;
    }

    span {
      font-weight: 500;
      font-size: 20px;
    }

    p {
      font-weight: 400;
      font-size: 17px;
      line-height: 25px;
      margin-top: 20px;
      margin-bottom: 70px;
    }

    div {
      width: 1220px;
      height: 410px;
      filter: drop-shadow(0px 3px 30px rgba(55, 55, 55, 0.16));
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;

      a.circle_button {
        .circle_button_2 {
          width: 224px;
          height: 224px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          border: 2px dashed #fff;
          border-radius: 50%;

          .circle_button_3 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 204px;
            height: 204px;

            border: 2px solid #fff;
            border-radius: 50%;
            // line-height: 204px;

            span {
              color: #fff;
              font-weight: 500;
              font-size: 26px;
              line-height: 32px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  section.special {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;

    h1 {
      font-weight: 700;
      font-size: 50px;
    }

    h2 {
      font-weight: 700;
      font-size: 23px;
      color: $minorcolor;
      margin-top: 12px;
      margin-bottom: 56px;
    }

    .meal {
      display: flex;
      width: 1000px;
      .pic {
        width: 560px;
      }

      .txt {
        width: 400px;
        text-align: left;
        margin-top: 120px;
        margin-left: 40px;
        .tag {
          font-weight: 400;
          font-size: 16px;
          color: #fff;
          width: 96px;
          height: 32px;
          background: #8cad2d;
          border-radius: 16px;
          text-align: center;
          line-height: 32px;
          margin-bottom: 8px;
        }

        h3 {
          font-weight: 700;
          font-size: 36px;
          line-height: 52px;
        }

        span {
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          color: $minorcolor;
        }

        .star {
          font-size: 4px;
          margin-top: 8px;
          margin-bottom: 12px;
          color: #ffbc0d;
        }

        p {
          font-weight: 500;
          font-size: 17px;
          line-height: 155%;
        }

        a {
          display: block;
          width: 200px;
          height: 52px;
          background: $minorcolor;
          border-radius: 50px;
          font-weight: 700;
          font-size: 20px;
          line-height: 52px;
          text-align: center;
          color: #fff;
          margin-top: 24px;
        }
      }
    }

    .meal_pasta {
      display: flex;
      width: 1000px;
      flex-direction: row-reverse;
      margin-left: auto;
      .pic {
        width: 560px;
      }

      .txt {
        width: 400px;
        text-align: left;
        margin-top: 120px;
        margin-right: 20px;
        .tag {
          font-weight: 400;
          font-size: 16px;
          color: #fff;
          width: 96px;
          height: 32px;
          background: #8cad2d;
          border-radius: 16px;
          text-align: center;
          line-height: 32px;
          margin-bottom: 8px;
        }

        h3 {
          font-weight: 700;
          font-size: 36px;
          line-height: 52px;
        }

        span {
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          color: $minorcolor;
        }

        .star {
          font-size: 4px;
          margin-top: 8px;
          margin-bottom: 12px;
          color: #ffbc0d;
        }

        p {
          font-weight: 500;
          font-size: 17px;
          line-height: 155%;
        }

        a {
          display: block;
          width: 200px;
          height: 52px;
          background: $minorcolor;
          border-radius: 50px;
          font-weight: 700;
          font-size: 20px;
          line-height: 52px;
          text-align: center;
          color: #fff;
          margin-top: 24px;
        }
      }
    }

    a.circle_button {
      display: block;
      margin: 0 auto;
      width: 224px;
      height: 224px;
      .circle_button_2 {
        width: 224px;
        height: 224px;
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        position: relative;
        margin: 0 auto;
        margin-top: 24px;

        border: 2px dashed $maindarkcolor;
        border-radius: 50%;

        .circle_button_3 {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 204px;
          height: 204px;

          border: 2px solid $maindarkcolor;
          border-radius: 50%;
          background-color: $maindarkcolor;
          // line-height: 204px;

          span {
            color: #fff;
            font-weight: 500;
            font-size: 26px;
            line-height: 32px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  section.news {
    text-align: center;
    padding-top: 112px;

    padding-bottom: 40px;

    h1 {
      font-weight: 700;
      font-size: 50px;
    }

    h2 {
      font-weight: 700;
      font-size: 23px;
      color: $minorcolor;
      margin-top: 12px;
      margin-bottom: 56px;
    }

    .content {
      position: relative;
      .news_list {
        display: flex;
        width: 95%;
        gap: 0 38px;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 40px;

        a {
          width: 100%;
          .list_card {
            // flex-shrink: 0;
            .pic {
              img {
                width: 100%;
              }
            }

            h3 {
              font-weight: 400;
              font-size: 19px;
              line-height: 140%;
              text-align: center;
              color: #191919;
              margin-top: 22px;
              margin-bottom: 4px;
              padding: 0 6px;
            }

            span {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: #757575;
            }
          }
        }

        a:nth-child(2) {
          transform: translateY(40px);
        }
        a:nth-child(4) {
          transform: translateY(40px);
        }
      }

      .page_dot {
        // border: 1px solid #000;
        display: flex;
        justify-content: center;
        gap: 0 8px;
        margin-top: 12px;
        align-items: center;
        a {
          width: 8px;
          height: 8px;
          background: #757575;
          border-radius: 50%;
        }

        .focus {
          width: 12px;
          height: 12px;
          background: #ffbc0d;
        }
      }

      .turnleft {
        position: absolute;
        width: 85px;
        height: 52px;
        left: 0px;
        top: 50%;
        margin-top: -52px;
        background: #f7822e;
        border-radius: 0px 24px 24px 0px;
        line-height: 52px;
        i {
          font-size: 16px;
          position: absolute;
          right: 16px;
          top: 50%;
          margin-top: -9px;
          color: #fff;
        }
      }

      .turnright {
        position: absolute;
        width: 85px;
        height: 52px;
        right: 0px;
        top: 50%;
        margin-top: -52px;
        background: #f7822e;
        border-radius: 24px 0px 0px 24px;
        line-height: 52px;
        i {
          font-size: 16px;
          position: absolute;
          left: 16px;
          top: 50%;
          margin-top: -9px;
          color: #fff;
        }
      }
    }
  }
}

footer {
  background: #352f23;

  .footer_box {
    display: grid;
    grid-template-rows: 120px 58px 532px 100px 180px 20px 230px;
    align-items: center;

    margin: 0 auto;
    width: 1240px;
    height: 174px;
    padding-top: 40px;

    .pic_logo {
      grid-column: 1/2;

      img {
        width: 120px;
        height: 120px;
      }
    }

    .about_txt {
      grid-column: 3/4;
      .txt_content {
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
        color: #fff;

        .lower {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #9a9a9a;
          margin-right: 6px;
        }
      }

      .txt_note {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #6a6a6a;
      }
    }

    .footer_button {
      grid-column: 5/6;
      display: flex;
      gap: 0 20px;

      a {
        display: block;

        padding: 13px 23px;
        background: $minorcolor;
        border-radius: 6px;

        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #fff;
      }
    }

    .icon_phone {
      grid-column: 7/8;
      display: flex;
      flex-direction: column;
      justify-content: end;

      .icon {
        margin-bottom: 40px;
        a {
          color: #9a9791;
          margin-right: 12px;

          i {
            font-size: 26px;
          }
        }
      }
      .phone {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
      }
    }
  }
}

//about

main.about {
  background-color: $bgcolor;

  .title {
    text-align: center;
    width: 1220px;
    margin: 0 auto;
    h1 {
      font-weight: 700;
      font-size: 50px;
      padding-top: 40px;
    }

    h2 {
      font-weight: 700;
      font-size: 23px;
      color: $minorcolor;
      margin-top: 12px;
      margin-bottom: 56px;
    }

    .nb_1 {
      width: 168px;
      height: 40px;
      background: $minorcolor;
      border-radius: 50px;
      font-weight: 400;
      font-size: 18px;
      line-height: 40px;
      color: #fff;
      margin: 0 auto;
    }
    span {
      display: block;
      margin-top: 36px;
      text-align: left;
      font-weight: 400;
      font-size: 22px;
    }
    .line {
      width: 1220px;
      padding-bottom: 24px;
    }
  }

  .content {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 40px;

    .pic2 {
      width: 600px;
      margin-right: 20px;
      .pic2_pic1 {
        width: 600px;
        height: 334px;
        margin-bottom: 24px;
        img {
          vertical-align: top;
          border-radius: 2px;
        }
      }
      .pic2_pic2 {
        width: 600px;
        height: 592px;
        img {
          vertical-align: top;
          border-radius: 2px;
        }
      }
    }

    .pic_txt {
      width: 600px;
      .txt {
        h3 {
          font-weight: 700;
          font-size: 26px;
          line-height: 38px;
          margin-top: 24px;
          color: #232323;
          // margin-bottom: 16px;
        }
        span {
          font-weight: 400;
          font-size: 20px;
          line-height: 29px;
          color: #232323;
          display: block;
          margin: 16px 0;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: #232323;
          padding-bottom: 24px;
        }
      }
      .pic_txt_pic {
        img {
          vertical-align: top;
          border-radius: 2px;
          width: 600px;
          height: 396px;
        }
      }
    }
  }
}

//meal
body {
  overflow-x: hidden;
  main.meal {
    background-color: $bgcolor;
    overflow: hidden;

    .page_tag {
      width: 1220px;
      margin: 0 auto;
      padding-top: 46px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 0 8px;

      .icon {
        width: 24px;
        height: 24px;
        background: $maindarkcolor;
        border-radius: 50%;
        text-align: center;
        i {
          color: #fff;
          line-height: 24px;
          font-size: 10px;
        }
      }

      .tag_txt {
        font-weight: 400;
        font-size: 14px;
        color: $maindarkcolor;
      }

      i {
        font-size: 10px;
      }

      .tag_now {
        font-weight: 400;
        font-size: 14px;
        color: #757575;
      }
    }

    .meal_block {
      width: 1280px;
      display: flex;
      gap: 0 40px;
      padding: 0 30px;
      margin: 0 auto;
      // overflow: hidden;
      .menu {
        width: 310px;
        .flort_menu {
          text-align: center;
          filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.25));
          overflow: hidden;
          border-radius: 10px;
          .menu_title {
            background-color: #352f23;
            padding: 25px 0;

            .ch {
              font-weight: 700;
              font-size: 40px;
              line-height: 58px;
              color: $minorcolor;
            }
            .en {
              font-weight: 700;
              font-size: 24px;
              line-height: 35px;
              color: #fff;
            }
          }

          .menu_content {
            background: #f3f0e2;
            .menu_list {
              padding-top: 26px;
              padding-bottom: 40px;
              display: flex;
              flex-direction: column;
              gap: 16px 0;
              .menu_list_item {
                position: relative;

                .txt {
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 160%;
                  color: $minorcolor;
                  span {
                    font-weight: 700;
                    font-size: 16px;
                    color: $maindarkcolor;
                  }
                }

                .item_border {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  img {
                  }
                }
              }
              i {
                color: #000;
                font-size: 10px;
              }
            }
          }
        }
      }

      .content {
        text-align: center;
        width: 870px;

        h1 {
          font-weight: 700;
          font-size: 62px;
          line-height: 90px;
          color: #363636;
        }

        h2 {
          font-weight: 900;
          font-size: 27px;
          line-height: 39px;
          color: $minorcolor;
        }

        .content_pic {
          margin-top: 24px;
          margin-bottom: 40px;
          img {
            width: 870px;
            height: 300px;
          }
        }

        .food_card {
          width: 870px;

          display: grid;
          grid-template: repeat(3, 1fr) / repeat(3, 1fr);
          gap: 20px;
          margin-bottom: 40px;
          a {
            display: block;
            .card_item {
              background-color: #fff;
              box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
              border-radius: 20px;
              padding: 0 20px;
              padding-top: 40px;
              height: 320px;

              .card_pic {
                margin-bottom: 32px;
                img {
                  width: 185px;
                  height: 166px;
                }
              }
              h3 {
                font-weight: 700;
                font-size: 19px;
                line-height: 28px;
                color: $minorcolor;
                span {
                  font-weight: 700;
                  font-size: 17px;
                  line-height: 135%;
                  color: #000;
                }
              }
            }
          }
        }

        .line {
          margin-bottom: 40px;
          img {
          }
        }

        h4 {
          font-weight: 700;
          font-size: 50px;
          line-height: 72px;
          color: #272727;
          margin-bottom: 24px;
        }

        .menu_pic {
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          overflow: hidden;
          width: 870px;
          height: 638px;
          margin-bottom: 40px;
          position: relative;

          img {
            width: 100%;
          }

          a.circle_button {
            .circle_button_2 {
              width: 224px;
              height: 224px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);

              border: 2px dashed #fff;
              border-radius: 50%;

              .circle_button_3 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 204px;
                height: 204px;

                border: 2px solid #fff;
                border-radius: 50%;
                // line-height: 204px;

                span {
                  color: #fff;
                  font-weight: 500;
                  font-size: 26px;
                  line-height: 32px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }
    }
  }
}
