@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "JF", Courier, monospace;
}

* a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
}

@font-face {
  font-family: "JF";
  src: url("../pic/JF Open 粉圓 11.ttf");
}
header {
  width: 100%;
  height: 88px;
  background-color: #f0a739;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 10;
}
header nav {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  align-items: center;
  height: 88px;
  position: relative;
}
header nav .logo {
  width: 138px;
  height: 138px;
  position: absolute;
  top: 0;
  left: 20px;
}
header nav .logo img {
  vertical-align: top;
  width: 100%;
}
header nav span {
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  top: 30px;
  left: 166px;
  color: #000;
}
header nav .nav_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: absolute;
  right: 40px;
}
header nav .nav_list a {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

main.index {
  background-color: #f1ecd3;
  overflow: hidden;
}
main.index section.welcome {
  display: flex;
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  justify-items: center;
}
main.index section.welcome .right_pic {
  position: absolute;
  width: 60%;
  right: 0px;
  top: 0px;
  z-index: 1;
}
main.index section.welcome .right_pic img {
  width: 1200px;
  height: 700px;
}
main.index section.welcome .linear_box {
  position: absolute;
  width: 65%;
  height: 166px;
  right: 0px;
  top: 534px;
  z-index: 5;
  background: linear-gradient(180deg, rgba(241, 236, 211, 0) 0%, rgba(241, 236, 211, 0.578125) 38.02%, rgba(241, 236, 211, 0.743773) 59.9%, rgba(241, 236, 211, 0.878906) 79.69%, #f1ecd3 100%);
}
main.index section.welcome .left_pic {
  position: absolute;
  width: 70%;
  height: 700px;
  left: -200px;
  top: 0px;
  z-index: 2;
}
main.index section.welcome .sun_pic {
  position: absolute;
  left: 110px;
  top: 36px;
  z-index: 2;
}
main.index section.welcome .sun_pic img {
  width: 106px;
  height: 110px;
}
main.index section.welcome p {
  font-size: 22px;
  font-weight: 400;
  z-index: 3;
  position: absolute;
  left: 140px;
  top: 120px;
}
main.index section.welcome a {
  z-index: 3;
  position: absolute;
  width: 200px;
  height: 52px;
  left: 140px;
  top: 188px;
  background: #8cad2d;
  border-radius: 50px;
  text-align: center;
  line-height: 52px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
main.index section.about {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
main.index section.about h1 {
  font-weight: 700;
  font-size: 50px;
}
main.index section.about h2 {
  font-weight: 700;
  font-size: 23px;
  color: #8cad2d;
  margin-top: 12px;
  margin-bottom: 56px;
}
main.index section.about span {
  font-weight: 500;
  font-size: 20px;
}
main.index section.about p {
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 70px;
}
main.index section.about div {
  width: 1220px;
  height: 410px;
  filter: drop-shadow(0px 3px 30px rgba(55, 55, 55, 0.16));
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
main.index section.about div a.circle_button .circle_button_2 {
  width: 224px;
  height: 224px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed #fff;
  border-radius: 50%;
}
main.index section.about div a.circle_button .circle_button_2 .circle_button_3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 204px;
  height: 204px;
  border: 2px solid #fff;
  border-radius: 50%;
}
main.index section.about div a.circle_button .circle_button_2 .circle_button_3 span {
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main.index section.special {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
main.index section.special h1 {
  font-weight: 700;
  font-size: 50px;
}
main.index section.special h2 {
  font-weight: 700;
  font-size: 23px;
  color: #8cad2d;
  margin-top: 12px;
  margin-bottom: 56px;
}
main.index section.special .meal {
  display: flex;
  width: 1000px;
}
main.index section.special .meal .pic {
  width: 560px;
}
main.index section.special .meal .txt {
  width: 400px;
  text-align: left;
  margin-top: 120px;
  margin-left: 40px;
}
main.index section.special .meal .txt .tag {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 96px;
  height: 32px;
  background: #8cad2d;
  border-radius: 16px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 8px;
}
main.index section.special .meal .txt h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
}
main.index section.special .meal .txt span {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #8cad2d;
}
main.index section.special .meal .txt .star {
  font-size: 4px;
  margin-top: 8px;
  margin-bottom: 12px;
  color: #ffbc0d;
}
main.index section.special .meal .txt p {
  font-weight: 500;
  font-size: 17px;
  line-height: 155%;
}
main.index section.special .meal .txt a {
  display: block;
  width: 200px;
  height: 52px;
  background: #8cad2d;
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-top: 24px;
}
main.index section.special .meal_pasta {
  display: flex;
  width: 1000px;
  flex-direction: row-reverse;
  margin-left: auto;
}
main.index section.special .meal_pasta .pic {
  width: 560px;
}
main.index section.special .meal_pasta .txt {
  width: 400px;
  text-align: left;
  margin-top: 120px;
  margin-right: 20px;
}
main.index section.special .meal_pasta .txt .tag {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 96px;
  height: 32px;
  background: #8cad2d;
  border-radius: 16px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 8px;
}
main.index section.special .meal_pasta .txt h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
}
main.index section.special .meal_pasta .txt span {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #8cad2d;
}
main.index section.special .meal_pasta .txt .star {
  font-size: 4px;
  margin-top: 8px;
  margin-bottom: 12px;
  color: #ffbc0d;
}
main.index section.special .meal_pasta .txt p {
  font-weight: 500;
  font-size: 17px;
  line-height: 155%;
}
main.index section.special .meal_pasta .txt a {
  display: block;
  width: 200px;
  height: 52px;
  background: #8cad2d;
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-top: 24px;
}
main.index section.special a.circle_button {
  display: block;
  margin: 0 auto;
  width: 224px;
  height: 224px;
}
main.index section.special a.circle_button .circle_button_2 {
  width: 224px;
  height: 224px;
  position: relative;
  margin: 0 auto;
  margin-top: 24px;
  border: 2px dashed #f6822e;
  border-radius: 50%;
}
main.index section.special a.circle_button .circle_button_2 .circle_button_3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 204px;
  height: 204px;
  border: 2px solid #f6822e;
  border-radius: 50%;
  background-color: #f6822e;
}
main.index section.special a.circle_button .circle_button_2 .circle_button_3 span {
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main.index section.news {
  text-align: center;
  padding-top: 112px;
  padding-bottom: 40px;
}
main.index section.news h1 {
  font-weight: 700;
  font-size: 50px;
}
main.index section.news h2 {
  font-weight: 700;
  font-size: 23px;
  color: #8cad2d;
  margin-top: 12px;
  margin-bottom: 56px;
}
main.index section.news .content {
  position: relative;
}
main.index section.news .content .news_list {
  display: flex;
  width: 95%;
  gap: 0 38px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 40px;
}
main.index section.news .content .news_list a {
  width: 100%;
}
main.index section.news .content .news_list a .list_card .pic img {
  width: 100%;
}
main.index section.news .content .news_list a .list_card h3 {
  font-weight: 400;
  font-size: 19px;
  line-height: 140%;
  text-align: center;
  color: #191919;
  margin-top: 22px;
  margin-bottom: 4px;
  padding: 0 6px;
}
main.index section.news .content .news_list a .list_card span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}
main.index section.news .content .news_list a:nth-child(2) {
  transform: translateY(40px);
}
main.index section.news .content .news_list a:nth-child(4) {
  transform: translateY(40px);
}
main.index section.news .content .page_dot {
  display: flex;
  justify-content: center;
  gap: 0 8px;
  margin-top: 12px;
  align-items: center;
}
main.index section.news .content .page_dot a {
  width: 8px;
  height: 8px;
  background: #757575;
  border-radius: 50%;
}
main.index section.news .content .page_dot .focus {
  width: 12px;
  height: 12px;
  background: #ffbc0d;
}
main.index section.news .content .turnleft {
  position: absolute;
  width: 85px;
  height: 52px;
  left: 0px;
  top: 50%;
  margin-top: -52px;
  background: #f7822e;
  border-radius: 0px 24px 24px 0px;
  line-height: 52px;
}
main.index section.news .content .turnleft i {
  font-size: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -9px;
  color: #fff;
}
main.index section.news .content .turnright {
  position: absolute;
  width: 85px;
  height: 52px;
  right: 0px;
  top: 50%;
  margin-top: -52px;
  background: #f7822e;
  border-radius: 24px 0px 0px 24px;
  line-height: 52px;
}
main.index section.news .content .turnright i {
  font-size: 16px;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -9px;
  color: #fff;
}

footer {
  background: #352f23;
}
footer .footer_box {
  display: grid;
  grid-template-rows: 120px 58px 532px 100px 180px 20px 230px;
  align-items: center;
  margin: 0 auto;
  width: 1240px;
  height: 174px;
  padding-top: 40px;
}
footer .footer_box .pic_logo {
  grid-column: 1/2;
}
footer .footer_box .pic_logo img {
  width: 120px;
  height: 120px;
}
footer .footer_box .about_txt {
  grid-column: 3/4;
}
footer .footer_box .about_txt .txt_content {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: #fff;
}
footer .footer_box .about_txt .txt_content .lower {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #9a9a9a;
  margin-right: 6px;
}
footer .footer_box .about_txt .txt_note {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #6a6a6a;
}
footer .footer_box .footer_button {
  grid-column: 5/6;
  display: flex;
  gap: 0 20px;
}
footer .footer_box .footer_button a {
  display: block;
  padding: 13px 23px;
  background: #8cad2d;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
}
footer .footer_box .icon_phone {
  grid-column: 7/8;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
footer .footer_box .icon_phone .icon {
  margin-bottom: 40px;
}
footer .footer_box .icon_phone .icon a {
  color: #9a9791;
  margin-right: 12px;
}
footer .footer_box .icon_phone .icon a i {
  font-size: 26px;
}
footer .footer_box .icon_phone .phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

main.about {
  background-color: #f1ecd3;
}
main.about .title {
  text-align: center;
  width: 1220px;
  margin: 0 auto;
}
main.about .title h1 {
  font-weight: 700;
  font-size: 50px;
  padding-top: 40px;
}
main.about .title h2 {
  font-weight: 700;
  font-size: 23px;
  color: #8cad2d;
  margin-top: 12px;
  margin-bottom: 56px;
}
main.about .title .nb_1 {
  width: 168px;
  height: 40px;
  background: #8cad2d;
  border-radius: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  margin: 0 auto;
}
main.about .title span {
  display: block;
  margin-top: 36px;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
}
main.about .title .line {
  width: 1220px;
  padding-bottom: 24px;
}
main.about .content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 40px;
}
main.about .content .pic2 {
  width: 600px;
  margin-right: 20px;
}
main.about .content .pic2 .pic2_pic1 {
  width: 600px;
  height: 334px;
  margin-bottom: 24px;
}
main.about .content .pic2 .pic2_pic1 img {
  vertical-align: top;
  border-radius: 2px;
}
main.about .content .pic2 .pic2_pic2 {
  width: 600px;
  height: 592px;
}
main.about .content .pic2 .pic2_pic2 img {
  vertical-align: top;
  border-radius: 2px;
}
main.about .content .pic_txt {
  width: 600px;
}
main.about .content .pic_txt .txt h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin-top: 24px;
  color: #232323;
}
main.about .content .pic_txt .txt span {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #232323;
  display: block;
  margin: 16px 0;
}
main.about .content .pic_txt .txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #232323;
  padding-bottom: 24px;
}
main.about .content .pic_txt .pic_txt_pic img {
  vertical-align: top;
  border-radius: 2px;
  width: 600px;
  height: 396px;
}/*# sourceMappingURL=style.css.map */